$yellow: #FFC94B;
$textColor: #9c9c9c;
$headingColor: #4a6163;
$errorPageFont: 'Yeon Sung', sans-serif;

$buttonFont: 'Roboto', sans-serif;
$textFont: 'Open Sans', sans-serif;
$headingFont: 'Montserrat', sans-serif;
